body{background:#0f0f0f;color:white;font-family:sans-serif}
.topbar{background:#1a1a1a;padding:10px;text-align:center}
.post{background:#1c1c1c;margin:20px auto;padding:15px;width:400px;border-radius:15px}
.post-box{text-align:center;margin:20px}
input{padding:10px;width:70%}
button{padding:10px}
a{color:white}
